.interview-page {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;

  // Firepad + dropdown/any other display
  .code-pad {
    width: 100%;
    height: 70%;

    .toolbar {
      width: 100%;
      height: 5%;
    }

    // The actual firepad instance
    .textEditor {
      width:100%;
      height:95%;
    }
  }

  // Entire chat area
  .chat-area {
    width: 100%;
    height: 30%;

    #firechat-header {
      display: none !important;
    }
  }

  .right-hand-panel {
    height:100%;

    .video-feeds {
      height: 35%;

      .localVideo {
        height:100%;
        width: 100%;
      }

      .remoteVideo {
        height: 100%;
        width: 100%;
      }
    }

    .question-area {
      height: 65%;
    }
  }

  video {
    width: 100%;
    height: 100%;
  }




}