.wrapper {
  min-height: 100%;

  .nav-bar {
    .display-avatar {
      margin-left: 10px;
    }
  }

  .main-content {
    padding-top:64px;

    @import './interviewPage.scss';
  }

  .footer {
    position: relative;
    bottom: 0;
  }
}
